body {
	text-align: center;
	background: url("https://images.unsplash.com/photo-1451444635319-e5e247fbb88d?crop=entropy&dpr=1.5&fit=crop&fm=jpg&h=600&ixjsv=2.1.0&ixlib=rb-0.3.5&q=66&w=1300") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

body {
	color: white;
	border: 0;
}
